<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" class="form-group" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h4>
            Username</h4>
          <mat-form-field class="form-control" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;">
            <input matInput [(ngModel)]="user" type="text" placeholder="Enter the username" required id="username">

          </mat-form-field>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h4>
            Choose room</h4>
          <mat-form-field [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;">
            <mat-select placeholder="Chose a room" [(ngModel)]="room" required multiple id="roomInput">
              <mat-option [value]="&apos;room1&apos;" disabled="false">Room 1</mat-option>
              <mat-option [value]="&apos;room2&apos;" disabled="false">Room 2</mat-option>
            </mat-select>

          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" style="margin-left:120px;" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="warn" (click)="leave()">Leave</button><button mat-raised-button color="primary" (click)="join()">Join</button></div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div style="height:200px;padding:15px;" class="well">
          <div *ngFor="let item of messageArray">
            <span><strong> {{item.user}} </strong> {{item.message}} </span>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <mat-form-field [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;">
            <input matInput [(ngModel)]="messageText" placeholder="Type a message..." required>

          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="accent" (click)="sendMessage()">Send</button></div>
      </div>
    </div>
  </div>
</div>